@font-face {
    font-family: 'pony';
    src: url("./Pony.ttf")
}

.mainbackground {
    background-image: url("./bgGame.png");
    font-family: "pony";
    width: 100%;
    height: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;
}

.speech-bubble {
    position: relative;
    background: #45D994;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: -45px;
    width: 0;
    height: 0;
    border: 35px solid transparent;
    border-top-color: #45D994;
    border-bottom: 0;
    border-left: 0;
    margin-left: -17.5px;
    margin-bottom: -35px;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageRotate {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.bg_white {
    background-color: white;
    width: 100px;
    height: 100px;
    border: 5px solid #45D994;
    border-radius: 5px;
}